 <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <form id="cms" action="/upload" method="POST" enctype="multipart/form-data">
                    <div class="form-group">
                        <input for="file" type="file" name="post-image" />
                        <button type="submit" class="btn btn-success submit">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>